<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConStr" connectionString="data source=13.235.41.244;initial catalog=HGS-IN-UAT;user id=UAT;password=sam@123;MultipleActiveResultSets=True"/>
		
	</connectionStrings>
	<appSettings>
	<add key="ParserUrl" value="https://dms.tallint.com/parsing/version3/"/>
	</appSettings>

	

</configuration>